@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Kaushan+Script&family=Metal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Grand+Hotel&family=Ruthie&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 25vh;
}

.container div :hover{
    cursor: pointer;
}

.container div label{
    margin-left: 5px;
}

.message {
    width: fit-content;
    margin: 2rem auto;
}

.container div input[type="checkbox"] {
    position: relative;
    appearance: none;
    height: 1rem;
    width: 2rem;
    background-color: black;
    border-radius: 4rem;
}

.container div input[type="checkbox"]::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: white;
    transition: left .2s;
}

.container div input[type="checkbox"]:checked {
    background-color: blue;    
}

.container div input[type="checkbox"]:checked::after {
    left: 70%;
}

.quote {
    /* font-family: "Metal", serif; */
    font-family: "Carattere", serif;
    font-style: normal;
}

.message .description {
    font-size: 0.8rem;
    margin-top: 0.4rem;
}
